<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <nav class="navbar bg-dark">
      <a href="/flights">ALL FLIGHTS</a>
      <a href="/flights/new">ADD FLIGHT</a>
    </nav>
    <h1>All Flights</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Departure</th>
        </thead>
        <tbody>
            <% flights.sort(function(a, b) {return (a.departs - b.departs)}) %>
            <% flights.forEach(function(flight) { %>
            <tr>
                <td><%= flight.airline %></td>
                <td><%= flight.flightNo %></td>
                <td><%= flight.departs %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/flights/new">Create Flight</a>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
